.ipynb_checkpoints
.mypy_cache
*.ipynb

# Cython related
*.html
*.pyd

# Compiled source
__pycache__
build
*.so

# Miscellaneous
Configs
data
testdata
*.csv
*.tsv
*.png
*.svg
*.txt
*.zip
.DS_Store

# Data files
*.mzml
*.raw
*.mgf
*.mzid
rPTMDetermine/binomial.cpp
rPTMDetermine/ionscore.c
